<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head th:replace="fragments/head :: head">
	<title>index.html</title>
    </head>
    <body>
	<header th:replace="fragments/header :: header" />

	<!-- Main -->
	<section id="main" class="wrapper sidebar right">
	    <div class="inner">

		<header class="major">
		    <h2 th:text="#{blogTitle}">Page Title</h2>
		    <p th:text="#{blogSubTitle}">Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
		    <div class="alerts" th:if="${alerts != null and alerts.size() > 0}" >			
			<span th:each="alert : ${alerts}" th:text="#{${alert}}">alert</span>			    			
		    </div> 

		</header>

		<section id="posts" class="content">	
		    <div class="post" th:unless="${posts.hasContent()}">
			<header>
			<h3 th:text="#{noPosts}">No posts</h3>
			</header>
		    </div>
		    <div th:each="post : ${posts}" class="post">
			<header>
			    <h3>
				<a href="#" th:href="@{/{date}/{slug}(date=${#temporals.format(post.publishedOn,'yyyy/MM/dd')},slug=${post.slug})}">#</a> 
				<span th:text="${post.title}">Dolore Amet Consequat</span>
			    </h3>
			    <p><em th:text="#{publishedOn(${#temporals.formatDate(post.publishedOn, 'MEDIUM')})}">Published On</em></p>
			</header>
			<div class="body">
			    <div th:utext="${post.content}" th:remove="tag">
				<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
				<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
				<h3>Sed Magna Ornare</h3>
				<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
				<ul>
				    <li>Faucibus orci lobortis ac adipiscing integer.</li>
				    <li>Col accumsan arcu mi aliquet placerat.</li>
				    <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
				    <li>Blandit massa non blandit tempor interdum.</li>
				    <li>Lacinia mattis arcu nascetur lobortis.</li>
				</ul>
			    </div>
			</div>
		    </div>
		    
		    <nav>
			<div class="row uniform">
			    <div class="4u 6u(small) 12u(xsmall) nav_previous">				
				<a href="#" class="button" th:if="${posts.hasPrevious()}" th:href="@{/(page=${posts.previousPageable().getPageNumber()})}" th:text="#{paginatorNewer}">« Newer entries</a>
				<span class="button disabled" th:unless="${posts.hasPrevious()}" th:text="#{paginatorFirstPage}" >at the first page</span>
			    </div>
			    <div class="4u 12u(small) nav_home">
				<span class="button disabled" th:text="#{paginator(${posts.number}+1, ${posts.totalPages})}">Page 2 of 54</span>
			    </div>
			    <div class="4u 6u(small) 12u(xsmall)  nav_next">				
				<a href="#" class="button" th:if="${posts.hasNext()}" th:href="@{/(page=${posts.nextPageable().getPageNumber()})}" th:text="#{paginatorOlder}">Older entries »</a>
				<span class="button disabled" th:unless="${posts.hasNext()}" th:text="#{paginatorLastPage}">at the last page</span>				
			    </div>
			</div>
		    </nav>
		    
		</section>

		<div class="sidebar">
		    <section id="upcomingEvents" th:if="${upcomingEvents.size()}">
			<h3 th:text="#{upcomingEvents}">Magna Feugiat</h3>
			<ol>
			    <li th:each="upcomingEvent : ${upcomingEvents}">
				<span class="title" th:utext="#{upcomingEvents.title(${upcomingEvent.heldOn.time},${upcomingEvent.name})}">27.12.2015 14:00 Some title:</span>
				<span th:text="${upcomingEvent.description}">Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit.</span>
				<span class="readMore" th:if="${upcomingEvent.post}"><span th:text="#{readMore}">Read more</span> <a href="#" th:href="@{/{date}/{slug}(date=${#dates.format(upcomingEvent.post.publishedOn,'yyyy/MM/dd')},slug=${upcomingEvent.post.slug})}" th:text="${upcomingEvent.post.title}">Link</a></span>
			    </li>
			</ol>
		    </section>

		    <section id="profiles" class="links" th:if="${links.get(T(eu.euregjug.site.links.LinkEntity.Type).profile)}">
			<h3 th:text="#{profiles}">#profiles</h3>
			<ul>
			    <li th:each="link : ${links.get(T(eu.euregjug.site.links.LinkEntity.Type).profile)}" th:include="fragments/link :: body">A link</li>
			</ul>
		    </section>

		    <section id="links" class="links" th:if="${links.get(T(eu.euregjug.site.links.LinkEntity.Type).generic)}">
			<h3 th:text="#{links}">#links</h3>
			<ul>
			    <li th:each="link : ${links.get(T(eu.euregjug.site.links.LinkEntity.Type).generic)}" th:include="fragments/link :: body">A link</li>
			</ul>
		    </section>

		    <section id="sponsors" class="links" th:if="${links.get(T(eu.euregjug.site.links.LinkEntity.Type).sponsor)}">
			<h3 th:text="#{sponsors}">#sponsors</h3>
			<ul>
			    <li th:each="link : ${links.get(T(eu.euregjug.site.links.LinkEntity.Type).sponsor)}" th:include="fragments/link :: body">A link</li>
			</ul>
		    </section>
		</div>
	    </div>
	</section>

	<section th:replace="fragments/contact :: #contact" />

	<footer th:replace="fragments/footer :: footer" />

	<div th:replace="fragments/scripts :: body/script" />
    </body>
</html>