<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head th:replace="fragments/head :: head">
	<title>index.html</title>	
    </head>
    <body>
	<!-- Header -->
	<header id="header">
	    <h1><a href="index.html">Slate <span>by Pixelarity</span></a></h1>
	    <nav id="nav">
		<ul>
		    <li><a href="index.html">Home</a></li>
		    <li>
			<a href="#" class="submenu fa-angle-down">Page Layouts</a>
			<ul>
			    <li><a href="left-sidebar.html">Left Sidebar</a></li>
			    <li><a href="right-sidebar.html">Right Sidebar</a></li>
			    <li><a href="no-sidebar.html">No Sidebar</a></li>
			    <li>
				<a href="#">Submenu</a>
				<ul>
				    <li><a href="#">Option One</a></li>
				    <li><a href="#">Option Two</a></li>
				    <li><a href="#">Option Three</a></li>
				    <li><a href="#">Option Four</a></li>
				</ul>
			    </li>
			</ul>
		    </li>
		    <li><a href="elements.html">Elements</a></li>
		    <li><a href="#" class="button">Sign Up</a></li>
		</ul>
	    </nav>
	</header>

	<!-- Main -->
	<section id="main" class="wrapper sidebar right">
	    <div class="inner">

		<header class="major">
		    <h2>Right Sidebar</h2>
		    <p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
		</header>

		<!-- Content -->
		<div class="content">
		    <a href="#" class="image fit"><img src="img/pic07.jpg" alt="" /></a>
		    <h3>Dolore Amet Consequat</h3>
		    <p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
		    <p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
		    <h3>Sed Magna Ornare</h3>
		    <p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
		    <ul>
			<li>Faucibus orci lobortis ac adipiscing integer.</li>
			<li>Col accumsan arcu mi aliquet placerat.</li>
			<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
			<li>Blandit massa non blandit tempor interdum.</li>
			<li>Lacinia mattis arcu nascetur lobortis.</li>
		    </ul>
		</div>

		<!-- Sidebar -->
		<div class="sidebar">

		    <section>
			<h3>Magna Feugiat</h3>
			<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
			<footer>
			    <ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			    </ul>
			</footer>
		    </section>
		    <hr />
		    <section>
			<a href="#" class="image fit"><img src="img/pic01.jpg" alt="" /></a>
			<h3>Amet Lorem Tempus</h3>
			<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
			<footer>
			    <ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			    </ul>
			</footer>
		    </section>

		</div>

	    </div>
	</section>

	<!-- Contact -->
	<section id="contact" class="wrapper split">
	    <div class="inner">
		<section>
		    <h2>Send us a message</h2>
		    <form method="post" action="#">
			<div class="row uniform">
			    <div class="6u 12u$(large) 6u(medium) 12u$(xsmall)">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" />
			    </div>
			    <div class="6u$ 12u$(large) 6u$(medium) 12u$(xsmall)">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" />
			    </div>
			    <div class="12u$">
				<label for="message">Message</label>
				<textarea name="message" id="message" rows="5"></textarea>
			    </div>
			    <div class="12u$">
				<ul class="actions">
				    <li><input type="submit" value="Send Message" class="special" /></li>
				    <li><input type="reset" value="Reset" /></li>
				</ul>
			    </div>
			</div>
		    </form>
		</section>
		<section>
		    <h2>Other ways to reach us</h2>
		    <ul class="bulleted-icons">
			<li>
			    <span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
			    <h3>Email</h3>
			    <p><a href="#">information@untitled.tld</a></p>
			</li>
			<li>
			    <span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
			    <h3>Twitter</h3>
			    <p><a href="#">twitter.com/untitled-tld</a></p>
			</li>
			<li>
			    <span class="icon-wrapper"><span class="icon fa-phone"></span></span>
			    <h3>Phone</h3>
			    <p>(800) 555-0000</p>
			</li>
			<li>
			    <span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
			    <h3>Facebook</h3>
			    <p><a href="#">facebook.com/untitled-tld</a></p>
			</li>
			<li>
			    <span class="icon-wrapper"><span class="icon fa-home"></span></span>
			    <h3>Mailing Address</h3>
			    <p>1234 Fictional Avenue<br />
				Nashville, TN 00000<br />
				United States
			    </p>
			</li>
			<li>
			    <span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
			    <h3>LinkedIn</h3>
			    <p><a href="#">linkedin.com/untitled-tld</a></p>
			</li>
		    </ul>
		</section>
	    </div>
	</section>

	<!-- Footer -->
	<footer id="footer">
	    <div class="inner">
		<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
		<ul class="menu">
		    <li><a href="#">Terms<span> of Use</span></a></li>
		    <li><a href="#">Privacy<span> Policy</span></a></li>
		    <li><a href="#">Legal<span> Information</span></a></li>
		</ul>
	    </div>
	</footer>

	<div th:replace="fragments/scripts :: body/script" />
    </body>
</html>