<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head th:replace="fragments/head :: head (_pageTitle=${post.title})">
	<title>index.html</title>
    </head>
    <body>
	<header th:replace="fragments/header :: header" />

	<!-- Main -->
	<section id="main" class="wrapper">
	    <div class="inner">

		<header class="major">
		    <h2 th:text="${post.title}">Page Title</h2>		    
		    <p><em th:text="#{publishedOn(${#temporals.formatDate(post.publishedOn, 'MEDIUM')})}">Published On</em>, <a href="#" th:href="@{/{date}/{slug}(date=${#temporals.format(post.publishedOn,'yyyy/MM/dd')},slug=${post.slug})}">Permalink</a></p>
		</header>

		<!-- Content -->
		<section id="post" class="content">	
		    <div class="post">
			<div class="body">
			    <div th:utext="${post.content}" th:remove="tag">
				<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
				<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
				<h3>Sed Magna Ornare</h3>
				<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
				<ul>
				    <li>Faucibus orci lobortis ac adipiscing integer.</li>
				    <li>Col accumsan arcu mi aliquet placerat.</li>
				    <li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
				    <li>Blandit massa non blandit tempor interdum.</li>
				    <li>Lacinia mattis arcu nascetur lobortis.</li>
				</ul>
			    </div>
			</div>
		    </div>
		    		    
		    <nav>
			<div class="row uniform">
			    <div class="4u 6u(small) 12u(xsmall) nav_previous">				
				<a th:if="${nextPost.present}" class="button" 
				   th:text="#{nextPost(${nextPost.get().title})}"
				   href="#" 
				   th:href="@{/{date}/{slug}(date=${#dates.format(nextPost.get().publishedOn,'yyyy/MM/dd')},slug=${nextPost.get().slug})}"
				>« Next post</a>
			    </div>
			    <div class="4u 12u(small) nav_home">
				<a href="#" class="button" th:href="@{/}" th:text="#{homeLink}">Index</a>
			    </div>
			    <div class="4u 6u(small) 12u(xsmall) nav_next">		
				<a th:if="${previousPost.present}" class="button"
				   href="#" 
				   th:href="@{/{date}/{slug}(date=${#dates.format(previousPost.get().publishedOn,'yyyy/MM/dd')},slug=${previousPost.get().slug})}"
				   th:text="#{previousPost(${previousPost.get().title})}"
				   >Previous post »</a>
			    </div>
			</div>
		    </nav>
		</section>
	    </div>
	</section>

	<section th:replace="fragments/contact :: #contact" />

	<footer th:replace="fragments/footer :: footer" />

	<div th:replace="fragments/scripts :: body/script" />
    </body>
</html>