<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
    <head th:replace="fragments/head :: head (_pageTitle=#{registerTitle(${event.displayName},${event.heldOn.time})})">
	<title>index.html</title>
    </head>
    <body>
	<header th:replace="fragments/header :: header" />

	<!-- Main -->
	<section id="main" class="wrapper">
	    <div class="inner">

		<header class="major">
		    <h2 th:text="#{registerTitle(${event.displayName},${event.heldOn.time})}">Page Title</h2>	
		    <p th:text="#{registrationExplanation}">Explain register</p>		      
		</header>

		<!-- Content -->
		<div class="content">
		    <div th:if="${registered}">
			<p th:text="#{registered}">Thanks</p>
		    </div>
		    
		    <div class="eventDescription">
			<span class="title" th:utext="#{upcomingEvents.title(${event.heldOn.time},${event.displayName})}">27.12.2015 14:00 Some title:</span>
			<span th:text="${event.description}">Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit.</span>
			<span class="readMore" th:if="${event.post}"><span th:text="#{readMore}">Read more</span> <a href="#" th:href="@{/{date}/{slug}(date=${#dates.format(event.post.publishedOn,'yyyy/MM/dd')},slug=${event.post.slug})}" th:text="${event.post.title}">Link</a></span>
		    </div>

		    <div th:if="${registered}">
			<p><a href="#" class="button" th:href="@{/}" th:text="#{homeLink}">Index</a></p>
		    </div>		    
		    <div th:unless="${registered || !event.needsRegistration}">
			<div class="alerts" th:if="${alerts != null and alerts.size() > 0}" >			
			    <span th:each="alert : ${alerts}" th:text="#{${alert}}">alert</span>			    			
			</div> 		

			<form method="post" class="registrationForm" action="#"  th:action="@{/register/{eventId}(eventId=${event.id})}" th:object="${registration}">
			    <div class="row uniform">
				<div class="6u$ 12u$(small)" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
				    <input type="text" th:field="*{firstName}" th:placeholder="#{registration.firstName}" />
				    <p th:if="${#fields.hasErrors('firstName')}"><small class="help-block" th:errors="*{firstName}">Error</small></p>
				</div>
			    </div>
			    <div class="row uniform">
				<div class="6u$ 12u$(small)" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
				    <input type="text" th:field="*{name}"  th:placeholder="#{registration.name}" />
				    <p th:if="${#fields.hasErrors('name')}"><small class="help-block" th:errors="*{name}">Error</small></p>
				</div>
			    </div>
			    <div class="row uniform">
				<div class="6u$ 12u$(small)" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
				    <input type="email" th:field="*{email}" th:placeholder="#{registration.email}" />
				    <p th:if="${#fields.hasErrors('email')}"><small class="help-block" th:errors="*{email}">Error</small></p>
				</div>			    
			    </div>
			    <div class="row uniform">
				<div class="6u 12u$(small)">
				<input id="subscribeToNewsletter" name="subscribeToNewsletter" type="checkbox" th:checked="*{subscribeToNewsletter}"/><label for="subscribeToNewsletter" th:text="#{registration.subscribeToNewsletter}">subscribeToNewsletter</label></div>
			    </div>
			    <div class="row uniform">
				<div class="6u$ 12u$(small)">
				    <!--<if request has 'showRecaptcha' query param>-->				    
				    <div class="g-recaptcha" th:attr="data-sitekey=${@environment.getProperty('recaptcha.validation.siteKey')}" ></div>
				    <!--</if>-->
				</div>			    
			    </div>
			    <div class="row uniform">
				<div class="12u$">
				    <ul class="actions">
					<li><input type="submit" value="Register" th:value="#{submitRegistration}" class="special" /></li>
					<li><input type="reset" value="Reset" th:value="#{reset}"/></li>
				    </ul>
				</div>
			    </div>
			</form>
		    </div>
		</div>
	    </div>
	</section>

	<section th:replace="fragments/contact :: #contact" />

	<footer th:replace="fragments/footer :: footer" />

	<div th:replace="fragments/scripts :: body/script" />
    </body>
</html>